@charset "UTF-8";

/*---------------------------------------------------------------*\
	$common
\*---------------------------------------------------------------*/

/* company */
#company {
  width: 100%;
  padding: 180px 0px 80px;
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 90%;
}
#company .title_mission {
  font-family: "brandon-grotesque",sans-serif;
  font-size: 60px;
  text-align: center;
  width: 100%;
  letter-spacing: -1px;
}
#company .subtitle_mission {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500;
  font-family: 'Noto Sans', sans-serif;
  display: block;
}
#company .catch_mission {
  text-align: center;
  font-size: 26px;
  font-family: 'Noto Sans', sans-serif;
  margin: 60px auto 0;
  font-family: 'Noto Sans', sans-serif;
}
#company .catch_mission>br {
  display: none;
}
#company .description_mission {
  width: 720px;
  margin: 30px auto 0;
}
#company .wrapper_contents_works {
  width: 86%;
  margin: 60px auto 0;
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
}
#company .each_content_works {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 20px;
  width: 22%;
  height: 180px;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, .1);
  margin-right: auto;
}
#company .each_content_works:last-child {
  margin-right: 0%;
}
#company .name_work {
  text-align: center;
  font-size: 13px;
  margin-top: 10px;
  font-family: 'Noto Sans', sans-serif;
}
#company .icon_wallet {
  display: block;
    width: 35px;
    margin: 0 auto;
}

#company .icon_mining {
    display: block;
    width: 45px;
    margin: 0 auto;
}
#company .icon_chat {
    display: block;
    width: 45px;
    margin: 12px auto 0;
}
#company .icon_light {
  display: block;
  width: 45px;
  margin: 0 auto;
}
#company .icon_wallet img,
#company .icon_mining img,
#company .icon_chat img,
#company .icon_light img {
  width: 100%;
  height: auto;
}
.contact_us {
  position: relative;
  display: block;
  border-radius: 40px;
  width: 400px;
  margin: 26px auto 0;
  background: #e0f6fa;
  background: #111;
  padding: 24px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.contact_us:hover {
  background: #1d77f2;
}
.fa-angle-right {
  position: absolute;
  top: 25x;
  right: 25px;
  font-size: 18px;
  color: #fff;
}
.icon_dots {
  width: 6px;
  display: block;
  margin: 40px auto 0;
}
.icon_dots img {
  width: 100%;
  height: auto;
}
.title_contact {
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  color: #fff;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
}

/* detail */
.detail_company {
  width: 600px;
  margin: 70px auto 0;
  overflow: hidden;
  border-radius: 6px;
}
.detail_company dl {
  display: -webkit-flex;
  margin-bottom: 1px;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
  background: #fafafa;
}
.detail_company dt {
  width: 25%;
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  padding: 25px 0;
  color: #111;
  background: #d0ecfc;
}
.detail_company dd {
  font-size: 13px;
  width: 75%;
  font-family: 'Noto Sans', sans-serif;
  padding: 0 18px;
}


/*---------------------------------------------------------------*\
	$960px
\*---------------------------------------------------------------*/

@media screen and (max-width: 960px) {
  #company {
    background-size: 100%;
  }
}

/*---------------------------------------------------------------*\
	$768px
\*---------------------------------------------------------------*/

@media screen and (max-width: 768px) {

  /* company */
  #company {
    padding-top: 120px;
  }
  #company .catch_mission {
    font-size: 23px;
  }
  #company .description_mission {
    width: 80%;
  }
  #company .each_content_works {
    width: 47%;
  }
  #company .each_content_works:nth-of-type(1),
  #company .each_content_works:nth-of-type(2) {
    margin-bottom: 4%;
  }
  #company .each_content_works:nth-of-type(2n) {
    margin-right: 0px;
  }

  /* detail */
  .detail_company {
    width: 86%;
  }
}

/*---------------------------------------------------------------*\
	$600px
\*---------------------------------------------------------------*/

@media screen and (max-width: 600px) {
  #company {
    background-size: 130%;
  }
}

/*---------------------------------------------------------------*\
	$480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {

  #company {
    background-size: 160%;
  }
  /* company */
  #company {
    padding-bottom: 40px;
  }
  #company .catch_mission {
    font-size: 18px;
    margin-top: 40px;
  }
  #company .title_mission {
    font-size: 40px;
  }
  #company .catch_mission>br {
    display: block;
  }
  #company .wrapper_contents_works {
    margin-top: 40px;
  }
  #company .each_content_works {
    width: 100%;
    height: 130px;
    margin-bottom: 10% !important;
  }
  #company .each_content_works:last-child {
    margin-bottom: 0px !important;
  }
  #company .contact_us {
    width: 90%;
  }
  #company .title_contact {
    font-size: 11px;
  }
  #company .fa-angle-right {
    top: 24px;
    right: 22px;
    font-size: 16px;
  }

  /* detail */
  .detail_company {
    width: 90%;
  }
}


/*---------------------------------------------------------------*\
	$320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {

  #company .catch_mission {
    font-size: 16px;
  }
  #company .title_contact {
    font-size: 10px;
  }
  #company .fa-angle-right {
    top: 25px;
    right: 14px;
    font-size: 14px;
  }
}