@charset "UTF-8";
/*---------------------------------------------------------------*\
$common
\*---------------------------------------------------------------*/

header {
  z-index: 9999;
  position: fixed;
  width: 100%;
  padding: 45px 0 0;
}
header .logo_scroll {
  display: none !important;
}
header.fixed_head {
  background-color: #fff;
  top: 0;
  border-bottom: solid 1px #f5f5f5;
  padding: 10px 0;
}
header.fixed_head .logo_header {
  width: 100px;
}
header.fixed_head .logo_firstview {
  display: none;
}
header.fixed_head .logo_scroll {
  display: block !important;
}
header .wrapper_contents_header {
  width: 1300px;
  height: 32px;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
header .logo_header {
  width: 110px;
  height: 32px;
}
header .logo_header a {
  width: 100%;
  display: block;
}
header .logo_header img {
  width: 100%;
  height: auto;
}
header .logo_header_sp {
    display: none;
}
header .menu_header {
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
  flex-direction: column;
  display: flex;
  justify-content: center;
}
header .menu_header ul {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
header .menu_header li {
  margin-right: 70px;
}
header .menu_header li:last-child {
  margin-right: 0px;
}
header .menu_header li a {
  font-weight: 500;
  display: block;
  font-family: 'Noto Sans', sans-serif;
  font-size: 13px;
  letter-spacing: 0px;
}
header .language_header {
  display: -webkit-flex !important;
  -webkit-align-items: center;
  display: flex !important;
  align-items: center;
}
header .icon_pulldown {
  display: block;
  width: 8px;
  margin-left: 6px;
}
header .icon_pulldown img {
  width: 100%;
  height: auto;
}
header .sns_header {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
header .sns_header li {
  margin-right: 35px;
}
header .sns_header li:last-child {
  margin-right: 0px;
}
header .sns_header li a i {
  color: #2f02d8;
  font-size: 16px;
}

/* language modal */
.title_language_modal {
  font-size: 20px;
  font-weight: 300;
}
.list_language_modal {
  margin-top: 40px;
}
.each_language_modal {
  padding: 20px 20px;
}
.each_language_modal>a {
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center;
}
.flag_modal {
  width: 20px;
  margin-right: 10px;
}
.flag_modal img {
  width: 100%;
  height: auto;
}

/* language menu */
.language_menu {
  margin-top: 12px;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  width: 140px;
  align-items: center;
}
.border_language_menu {
  color: #fff;
  margin: 0px 13px;
}
.select_language {
  color: #fff;
  font-size: 16px;
  font-size: 13px;
  margin-top: 40px;
  border: solid 1px #fff;
  padding: 5px;
  border-radius: 12px;
  width: 140px;
  text-align: center;
  text-align: center;
  letter-spacing: 0px;
  font-family: "futura-pt", sans-serif;
}
.title_en_language {
  display: block;
  font-size: 18px;
  color: #fff;
  letter-spacing: 0px;
}
.title_jp_language {
  display: block;
  font-size: 16px;
  color: #fff;
  letter-spacing: 0px;
}

/*---------------------------------------------------------------*\
$1500px
\*---------------------------------------------------------------*/

@media screen and (max-width: 1500px) {

  header .wrapper_contents_header {
    width: 1100px;
  }
}

/*---------------------------------------------------------------*\
$1200px
\*---------------------------------------------------------------*/

@media screen and (max-width: 1280px) {

  header .wrapper_contents_header {
    width: 1000px;
  }
}

/*---------------------------------------------------------------*\
$1080px
\*---------------------------------------------------------------*/

@media screen and (max-width: 1100px) {

  header .wrapper_contents_header {
    width: 87%;
  }
}

/*---------------------------------------------------------------*\
$900px
\*---------------------------------------------------------------*/

@media screen and (max-width: 960px) {

  header {
    position: absolute;
    padding-top: 35px;
  }
  header .menu_header {
    display: none;
  }
  header .sns_header {
    display: none;
  }
}

/*---------------------------------------------------------------*\
$480px
\*---------------------------------------------------------------*/

@media screen and (max-width: 480px) {
  
  header .logo_header {
    width: 100px;
  }
}

/*---------------------------------------------------------------*\
$320px
\*---------------------------------------------------------------*/

@media screen and (max-width: 320px) {
  
  header .logo_header {
    width: 90px;
  }
}